.popup__container {
  width: 430px;
  padding: 36px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 540px) {
  .popup__container {
    padding: 30px 20px;
    height: auto;
  }
}
