.profile__name {
  margin: 0;
  padding: 0 16px 0 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 42px;
  line-height: 1.3;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

@media screen and (max-width: 690px) {
  .profile__name {
    max-width: 70%;
  }
}


@media screen and (max-width: 540px) {
  .profile__name {
    max-width: 100%;
    width: 100%;
    padding: 14px 16px 14px 0;
    font-size: 27px;
    line-height: 1.2;
  }
}
