.popup__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -32px;
  right: -32px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url(../../../vendor/images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity .3s ease, transform .2s ease;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    width: 30px;
    height: 30px;
    top: -24px;
    right: -24px;
  }
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:active {
  transform: scale(.90);
  outline: none;
}
