.footer {
  max-width: 882px;
  margin: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

@media screen and (max-width: 882px) {
  .footer {
    padding-left: 20px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    margin-top: 48px;
  }
}
