.profile__job {
  margin: 0;
  padding-top: 4px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70%;
}

@media screen and (max-width: 540px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
  }
}
